// Abstracts (variables, mixins, functions)
@use "./abstracts/mixins" as m;
@use "./abstracts/utilities";

// Base / Reset
@use "./base/reset";
@use "./base/base";

// Components
@use "./components/attribution";
@use "./components/button";
@use "./components/icon";
@use "./components/list";
@use "./components/newsletter";
@use "./components/picture";
@use "./components/text";

// Layout
@use "./layouts/container";

@media screen and (min-width: 60rem) {
  body {
    background: var(--color-neutral-2);
    @include m.flex(column);
  }

  main {
    margin-block: auto;
  }
}
