.attribution {
  width: 100%;
  text-align: center;
  padding-block-end: var(--size-sm);

  &__text {
    color: var(--color-neutral-3);
  }
  &__link {
    text-decoration: none;
    color: var(--color-primary);

    &:hover {
      color: var(--color-neutral-2);
    }
  }
}
