@use "../abstracts/mixins" as m;

.button {
  background: transparent;
  text-decoration: none;
  cursor: pointer;
  transition: 500ms ease;
  border: none;

  &:hover {
    transition: 200ms ease;
  }

  &--rectangle {
    padding: calc(var(--size-xs) + 0.3rem);
    border-radius: 0.3rem;

    @media screen and (min-width: 65rem) {
      padding: var(--size-xs) calc(var(--size-sm) - 0.5rem);
    }
  }

  &--neutral {
    background: var(--color-neutral-3);
    color: var(--color-neutral-0);
  }

  &--wide {
    width: 100%;
  }

  &--custom-hover {
    position: relative;
    z-index: 1;
    transition: 500ms ease;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: inherit;
      z-index: 2;
      background: linear-gradient(270deg, #ff6a3a, #ff527b);
      opacity: 0;
      transition: 500ms ease;
    }

    &--sub:hover::after {
      content: "Subscribe to monthly newsletter";
    }
    &--dismiss::after {
      content: "Dismiss message";
    }

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 50%;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      z-index: -1;
      background: linear-gradient(270deg, #ff6a3a, #ff527b);
      transform: translate(-50%, 50%);
      filter: blur(0.5rem);
      opacity: 0;
      transition: 500ms ease;
    }

    &:hover {
      transition: 200ms ease;

      &::before {
        opacity: 0.4;
        transition: 200ms ease;
      }
      &::after {
        opacity: 1;
        transition: 200ms ease;
      }
    }
  }
}
