@use "../abstracts/mixins" as m;

.newsletter {
  gap: var(--size-lg);
  width: 100%;
  background: var(--color-neutral-0);
  padding-block-end: var(--size-md);

  &__form {
    @include m.flex(column);
    gap: calc(var(--size-xs) + 0.5rem);
    width: 100%;
  }

  &__labels {
    width: 100%;
    @include m.flex(row, space-between);
    font-size: calc(var(--fs-sm) - 0.2rem);
  }

  &__label {
    margin-inline-end: auto;
  }

  &__input {
    padding: calc(var(--size-xs) + 0.3rem);
    padding-inline-start: calc(var(--size-xs) + 0.5rem);
    border-radius: 0.3rem;
    border: 0.1rem solid var(--color-neutral-1);
    width: 100%;

    &::placeholder {
      color: var(--color-neutral-1);
    }
  }
}
