.picture {
  &--large {
    width: 100%;

    @media screen and (min-width: 60rem) {
      height: 100%;
      width: auto;
    }
  }

  &__img {
    width: 100%;
    object-fit: cover;

    @media screen and (min-width: 60rem) {
      height: 100%;
      width: clamp(15rem, calc(10rem + 10vw), 60rem);
    }
  }

  &__source {
    display: block;
  }
}
