:root {
  /* Colors */
  /* Main */
  --color-primary: hsl(4, 100%, 67%);

  /* Neutral colors */
  --color-neutral-0: hsl(0, 0%, 100%);
  --color-neutral-1: hsl(0, 0%, 58%);
  --color-neutral-2: hsl(235, 18%, 26%);
  --color-neutral-3: hsl(234, 29%, 20%);

  /* Spacing sizes */
  --size-xs: clamp(0.5rem, calc(0.35rem + 0.4vw), 1rem);
  --size-sm: clamp(1rem, calc(1.25rem + 0.5vw), 1.75rem);
  --size-md: clamp(1.5rem, calc(2rem + 0.5vw), 3rem);
  --size-lg: clamp(2.5rem, calc(3.25rem + 1vw), 4rem);

  /* Font sizes */
  --fs-sm: clamp(1rem, calc(0.8rem + 0.7vw), 1.3rem);
  --fs-lg: clamp(2rem, calc(1.8rem + 1.2vw), 3rem);

  /* Font weights */
  --fw-regular: 400;
  --fw-bold: 700;

  /* Tablet and Desktop */
  @media screen and (min-width: 40rem) {
    /* Font sizes */
    --fs-sm: clamp(1rem, calc(0.8rem + 0.2vw), 2rem);
    --fs-lg: clamp(2.3rem, calc(2rem + 0.5vw), 4rem);
  }
}
