@use "../abstracts/mixins" as m;

.hidden {
  display: none;
}

.sr-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.order {
  &-mobile-first {
    order: -1;
  }

  &-desktop-last {
    @media (min-width: 60rem) {
      order: 1;
    }
  }
}
